<h2>Update Expense</h2>

<div>
<form action="/LoggedInUser/update/<%-expense._id%>" method="Post"> 
  <label>Description: <input type="text" name="description" value="<%= expense.description %>"></label>
  <label>Amount: <input type="number" name="amount" value="<%= expense.amount %>"></label>
  <button type="submit">Update</button>
</form>

<h2>Total expenses:</h2>
<ul id="expensesList">
  <% userExpenses.forEach(expense => { %>
    <li>
      <%= expense.description %> - <%= expense.amount %>
      <button><a href="/LoggedInUser/update/<%=expense._id%>">Update</a></button>
      <button><a href="/LoggedInUser/expenses/<%=expense._id%>">Delete</a></button>
    </li>
  <% }) %>
</ul>
</div>
