
  <h2>Welcome <%=currentUser.username%> </h2>  
</br>
    <script>
      function addExpense() {
        // Get the expense details from the input fields
        let expenseName = document.getElementById('expenseName').value;
        let expenseAmount = document.getElementById('expenseAmount').value;
  
        // Create a new expense element
        let newExpense = document.createElement('li');
        newExpense.textContent = expenseName + ' - €' + expenseAmount;
  
        // Add the new expense to the expenses list
        let expensesList = document.getElementById('expensesList');
        expensesList.appendChild(newExpense);
  
        // Clear the input fields
        document.getElementById('expenseName').value = '';
        document.getElementById('expenseAmount').value = '';

        //calculating the total ammount
        calculateTotal(); 
      }

      function calculateTotal() {
    const expensesList = document.getElementById('expensesList');
    const expenseItems = expensesList.getElementsByTagName('li');
    let totalAmount = 0;

    for (let i = 0; i < expenseItems.length; i++) {
      let expenseText = expenseItems[i].textContent;
      let expenseAmount = parseFloat(expenseText.split(' - €')[1]);
      totalAmount += expenseAmount;
    }

    let totalElement = document.getElementById('totalAmount');
    totalElement.textContent = 'Total: €' + totalAmount.toFixed(2);
  }

    </script>
    <h2>Add Expense</h2>
    <form action="/LoggedInUser/profile" method="post"> 
    <input type="text" name="description" id="expenseName" placeholder="Expense Name">
    <input type="number" name="amount" id="expenseAmount" placeholder="Expense Amount">
    <button>Add Expense</button>
  </form>
</br>
</br>

    <h2>Total expenses:</h2>
    <ul id="expensesList">
      <% userExpenses.forEach(expense => { %>
        <li>
          <%= expense.description %> - <%= expense.amount %>
          <button><a href="/LoggedInUser/expenses/<%=expense._id%>/edit">Edit</a></button>
          <button ><a href ="/LoggedInUser/expenses/<%=expense._id%>">Delete</a></button>
        </li>
      <% }) %>
    </ul>
    

 
<!-- Add the logout button -->
<form onsubmit="logout(); return false;">
  <button type="submit">Logout</button>
</form>

<script>
  async function logout() {
    const response = await fetch('/auth/logout', {
      method: 'GET',
    });

    if (response.ok) {
      // Redirect to the login page after successful logout
      window.location.href = '/auth/login';
    } else {
      const data = await response.json();
      console.error('Error logging out:', data.msg);
    }
  }
</script>

